$header: #464646;
$text-primary: #707070;
$background: #fdfdfd;
$link: #66e;
$accent: #ffff00;
$fontFamily: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN,
  "メイリオ", meiryo, sans-serif;
