@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Fira+Sans:301,300i,400,400i,500,500i,700,700i&subset=latin-ext";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";
@import "https://fonts.googleapis.com/css?family=Fira+Sans:301,300i,400,400i,500,500i,700,700i&subset=latin-ext";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:300";
body {
  background-image: none;
  background-color: #e5e5e5; }

header#blog-title {
  padding: 0;
  background-color: #ffff00; }
  header#blog-title h1#title {
    font-family: "Titillium Web", -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
    font-size: 1.2rem;
    text-align: left;
    padding: 0.8rem 0;
    margin-left: 18px;
    font-weight: 300;
    color: #464646; }
  header#blog-title h2#blog-description {
    display: none; }

:root {
  font-size: 16px; }

body {
  margin: 0 auto;
  font-family: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: #707070;
  background-color: #fdfdfd; }

h1.entry-title {
  line-height: 1;
  font-family: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #464646; }
  h1.entry-title a {
    background-image: linear-gradient(#ffff00, #ffff00);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 6px;
    position: relative;
    color: #464646;
    text-decoration: none; }
    h1.entry-title a:hover {
      color: #66e; }

article.entry {
  border: none;
  background: transparent; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #464646; }

.entry-content h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem; }

.entry-content h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.2rem; }

.entry-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem; }

.entry-content h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.1rem; }

.entry-content h5 {
  margin-top: 1rem;
  font-size: 1.1rem; }

.entry-content h6 {
  margin-top: 1rem;
  font-size: 1.1rem; }

.entry-content p {
  margin-top: 0;
  margin-bottom: 1.4rem; }

.entry-content a {
  color: #66e;
  text-decoration: none;
  transition: none; }

.entry-content a:active {
  background-color: #eee;
  color: #555;
  text-decoration: none; }

.entry-content a:hover {
  background-image: linear-gradient(#66e, #66e);
  background-size: 0.1em 0.1em;
  background-repeat: repeat-x;
  background-position-y: 93%;
  background-position-x: 0;
  color: #66e; }

.entry-content b,
.entry-content strong {
  font-weight: bolder; }

.entry-content em,
.entry-content i {
  font-style: italic; }

.entry-content del,
.entry-content s,
.entry-content strike {
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-size: 0.06em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 65%;
  background-position-x: 0; }

.entry-content code,
.entry-content pre,
.entry-content samp,
.entry-content var {
  font-size: 95%;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #666; }

.entry-content pre {
  display: block;
  margin: 1rem -2rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border-left: 0.1rem solid #888; }

.entry-content p code {
  padding: 0 0.2em 0.1em;
  background-color: #eee; }

.entry-content p var {
  padding: 0 0.2em 0.1em;
  background-color: #eee;
  font-weight: bolder;
  font-style: normal; }

.entry-content p samp {
  padding: 0 0.2em 0.1em;
  margin: 0 0.1em;
  background-color: #666;
  color: #eee; }

.entry-content kbd {
  position: relative;
  padding: 0.2em 0.2em 0.1em 0.2em;
  margin: 0 0.1em;
  bottom: 0.125em;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 0.2em;
  border-bottom: 0.05em solid #aaa; }

.entry-content blockquote {
  margin: 1rem -2rem;
  padding: 1rem 2rem;
  background-color: #eee;
  color: #666;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.5; }

.entry-content blockquote::before {
  content: "\201C";
  display: block;
  position: relative;
  height: 0;
  left: -1.3rem;
  top: -0.5rem;
  font-size: 2em;
  color: #888; }

.entry-content blockquote::after {
  content: "\201D";
  display: inline-block;
  position: relative;
  height: 0;
  top: 1.6rem;
  left: 0.2rem;
  font-size: 2em;
  line-height: 0;
  color: #888; }

.entry-content abbr[title] {
  text-decoration: none;
  background-image: linear-gradient(90deg, gray 50%, transparent 50%);
  background-size: 0.1em 0.06em;
  background-repeat: repeat-x;
  background-position-y: 100%;
  background-position-x: 0;
  font-feature-settings: "smcp"; }

.entry-content ul {
  list-style: none; }

.entry-content ul > li {
  padding-left: 0; }

.entry-content ul > li::before {
  content: "»";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right; }

.entry-content ul ul > li::before {
  content: "›";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right; }

.entry-content ol {
  list-style: none;
  margin-left: -2em;
  padding-left: 2em; }

.entry-content ol > li {
  padding-left: 0;
  counter-increment: ol-count; }

.entry-content ol > li:first-child {
  counter-reset: ol-count; }

.entry-content ol > li::before {
  content: counter(ol-count) ".";
  display: block;
  position: relative;
  height: 0;
  width: 2em;
  margin-left: -2.5em;
  font-weight: bolder;
  color: #888;
  text-align: right; }

.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ol,
.entry-content ul ul {
  margin: 0.5em 0; }

.entry-content img {
  display: block;
  width: calc(100% + 4rem);
  margin: 1rem -2rem; }

.entry-content figure {
  display: inline-table;
  margin: 0rem -2rem 1rem -2rem;
  padding: 2rem 2rem; }

.entry-content figure img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin: 0 auto; }

.entry-content figure img + img {
  margin-left: 1rem; }

.entry-content figure figcaption {
  max-width: 100%;
  margin: 1rem auto -1rem auto;
  font-size: 0.9rem;
  font-style: italic; }

.entry-content table {
  margin: 0 -1rem 1rem -1rem;
  width: calc(100% + 2rem);
  overflow: hidden;
  border-collapse: collapse; }

.entry-content table caption {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  caption-side: bottom;
  text-align: center;
  font-style: italic;
  color: #666; }

.entry-content tr {
  transition: 0.15s; }

.entry-content thead tr {
  border-bottom: 2px solid #888; }

.entry-content tfoot tr {
  border-bottom: none;
  border-top: 1px solid #eee;
  font-weight: bolder; }

.entry-content tbody tr:hover,
.entry-content tfoot tr:hover {
  background-color: #eee; }

.entry-content td,
.entry-content th {
  position: relative;
  padding: 0.3rem 1rem; }

.entry-content th {
  font-weight: bolder; }

.entry-content tbody tr:first-of-type td,
.entry-content tbody tr:first-of-type th {
  padding-top: 0.5rem; }

.entry-content hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid black;
  margin: 2rem auto; }
